<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="login-luis-enrique">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>
  <script>
    /**
     * `login-luis-enrique`
     * Login Practica
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginLuisEnrique extends Polymer.Element {
      static get is() { return 'login-luis-enrique'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-luis-enrique'
          }
        };
      }
    }

    window.customElements.define(LoginLuisEnrique.is, LoginLuisEnrique);
  </script>
</dom-module>
