<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-styles/shadow.html">
<link rel="import" href="../paper-styles/typography.html">
<link rel="import" href="../paper-styles/color.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-progress/paper-progress.html">

<dom-module id="login-luis-enrique">
  <template>
    <style>
        #loginForm {
            width: 450px;
            height: 450px;
            background: var(--login-form-background-color, white);
            @apply --shadow-elevation-12dp;
            @apply --login-form;
        }

        #loginFormContent {
            padding: 48px;
        }

        #loginFormContent>* {
            margin-top: 8px;
            margin-bottom: 8px;
        }

        #loginBtn {
            margin-top: 24px;
            float: right;
            background-color: var(--login-btn-background-color, var(--paper-indigo-500));
            color: var(--login-btn-text-color, white);
            --paper-button-raised-keyboard-focus: {
                background-color: var(--login-btn-raised-background-color, var(--paper-pink-a200)) !important;
                color: var(--login-btn-text-color, white) !important;
            }
            ;

            @apply --login-btn;
        }

        #loginBtn[disabled] {
            background-color: var(--login-btn-disabled-background-color, var(--paper-indigo-100));
        }

        h1 {
            @apply --paper-font-display1;
            margin: 0;
            @apply --login-title;
        }

        h2 {
            @apply --paper-font-title;
            margin: 0;
            @apply --login-subtitle;
        }

        paper-progress {
            width: 100%;
        }

        #errorMsg {
            margin-top: 16px;
            color: var(--login-error-label-color, var(--error-color));
            @apply --paper-font-menu;
        }
    </style>

    <div id="loginForm">
        <paper-progress disabled="[[!loading]]" indeterminate></paper-progress>
        <div id="loginFormContent">
            <h1>[[title]]</h1>
            <h2>[[subtitle]]</h2>
            <div id="errorMsg">[[errorMsg]]</div>
            <paper-input id="userInput" value="{{username}}" disabled="[[loading]]" type="text" label="[[userInputLabel]]" required auto-validate
                error-message="[[userInputErrMsg]]"></paper-input>
            <paper-input id="passInput" value="{{password}}" disabled="[[loading]]" type="password" label="[[passwordInputLabel]]" required
                auto-validate error-message="[[passwordInputErrMsg]]"></paper-input>
            <paper-button on-click="_login" disabled="[[loading]]" id="loginBtn" raised class="indigo">[[loginBtnText]]</paper-button>
            <slot name="links"></slot>
        </div>
    </div>
</template>
  <script>
    class LoginLuisEnrique extends Polymer.Element {
      static get is() { return 'login-luis-enrique'; }
      static get properties() {
        return {
            title: String,
            
            title: String,

            subtitle: String,

            errorMsg: String,

            username: {
                type: String,
                notify: true
            },

            password: {
                type: String,
                notify: true
            },

            loading: {
                type: Boolean,
                value: false
            },

            userInputLabel: {
                type: String,
                value: "Usuario"
            },

            userInputErrMsg: {
                type: String,
                value: "Ingrese Usuario"
            },

            passwordInputLabel: {
                type: String,
                value: "Contraseña"
            },

            passwordInputErrMsg: {
                type: String,
                value: "Ingrese Contraseña"
            },

            loginBtnText: {
                type: String,
                value: "Login"
            }

          };
       }
       ready() {
        super.ready();
        var self = this;
        this.$.loginForm.addEventListener("keypress", (e) => {
            if (e.keyCode == 13) {//Enter 
                self._login();
                return false;
            }
        });

        }

        _login() {
            if (this.$.userInput.value == "admin" && this.$.passInput.value == "pass") {
                //this.dispatchEvent(new CustomEvent('login-btn-click', { bubbles: true, composed: true }));
                alert("Login exitoso");
            }else{
                alert("Datos Incorrectos");
            }
        }
    }

    window.customElements.define(LoginLuisEnrique.is, LoginLuisEnrique);
  </script>
</dom-module>
